:host {
  outline: none;
  user-select: none;
  -webkit-tap-highlight-color: transparent;
  -webkit-user-select: none;
}

#input {
  display: block;
  width: 100%;
  border: none;
  background: none;
  outline: none;
  font-size: 3rem;
  font-weight: bold;
  text-align: center;
  height: 3ch;

  span {
    color: white;
    margin: 0 .25ch;
    transition: color .3s;

    &.placeholder {
      color: #424242;
      transition: none;
    }
  }
}

#keypad {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 4px;
  margin: 2ch 0;
  outline: none;

  button {
    background: #31313144;
    border: none;
    color: #ffffff;
    padding: 8px;
    outline: none;
    border-radius: 5px;
    height: calc(min(100vw, 512px)  / 6);
    font-size: 1.1rem;
    cursor: pointer;
    transition: background .15s;

    &[sym] {
      font-size: 2rem;
    }

    &:hover {
      background: #31313166;
    }

    &:empty {
      opacity: 0;
    }
  }
}