:host {
  position: relative;
  display: block;
  padding-top: 3ex;
}

textarea {
  display: block;
  width: calc(100% - 2ch);
  resize: vertical;
  background: #08080844;
  border: 1px solid #61616188;
  outline: none;
  min-height: calc(120px - 2ch);
  font-size: 1rem;
  color: white;
  padding: 1ch;
  border-radius: 8px;
  transition: border-color 0.3s;

  &:focus {
    border-color: var(--blue-fg, blue);
  }

  &.touched:invalid:not(:focus),
  &:invalid:not(:focus):not(:placeholder-shown) {
    border-color: var(--red-fg, red);
  }

  &:autofill,
  &:-webkit-autofill {
    background: #212121;
    box-shadow: 0 0 0 32px #212121 inset;
    color: var(--blue-fg, blue);
    -webkit-text-fill-color: var(--blue-fg, blue);
    border-color: var(--blue-fg, blue);
  }

  &[suggested-content] {
    animation: smartglow 3s alternate infinite;
  }
}

@keyframes smartglow {
  from {
    box-shadow: 0 0 0 0.5px var(--smart-purple) inset;
  }
  to {
    box-shadow:
      0 0 0 1px var(--smart-purple) inset,
      0 0 64px color-mix(in srgb, var(--smart-blue), 90% transparent) inset;
  }
}

textarea::placeholder {
  opacity: 0;
}

label {
  position: absolute;
  top: calc(3ex + 1ch);
  opacity: 0.5;
  left: 1ch;
  transition:
    transform 0.3s,
    color 0.3s,
    opacity 0.3s;
  transform-origin: left;
  pointer-events: none;

  textarea:required + & {
    &::after {
      content: ' *';
    }
  }

  textarea:focus + &,
  textarea:not(:placeholder-shown) + & {
    transform: translateY(-2rem) scale(0.8);
  }

  textarea:focus + & {
    color: var(--blue-fg, blue);
    opacity: 1;
  }

  textarea.touched:invalid:not(:focus) ~ &,
  textarea:invalid:not(:focus):not(:placeholder-shown) ~ & {
    color: var(--red-fg, red);
    opacity: 1;
  }
}

i-con {
  position: absolute;
  right: 0;
  top: calc(1rem + 1ch);
  width: 36px;
  cursor: pointer;
  opacity: 0;
  transition: opacity 0.15s;

  textarea:focus:not(:placeholder-shown) ~ & {
    opacity: 0.5;

    &:hover {
      opacity: 1;
    }
  }
}

slot[name='hint'] {
  font-size: 0.7rem;
  color: #bdbdbd88;
  transition: color 0.3s;

  textarea.touched:invalid:not(:focus) ~ &,
  textarea:invalid:not(:focus):not(:placeholder-shown) ~ & {
    color: var(--red-fg, red);
  }
}

::slotted([slot='hint']) {
  display: block;
  margin: 1ch 0;
  text-align: right;
}
