output {
  --width: 400px;
  --padding: 10px;
  --height: 52px;

  gap: calc(var(--padding) * 4);
  font-weight: 100;
  font-size: 0.9rem;
  place-content: space-between;
  align-items: center;
  width: max-content;
  padding: var(--padding);
  padding-left: calc(var(--padding) * 1.5);
  margin-top: calc(var(--padding) * 2);
  height: calc(var(--height) - var(--padding) * 2);
  border: none;
  border-radius: calc(var(--height) / 2);
  backdrop-filter: blur(16px) contrast(1.2) brightness(1.3);
  -webkit-backdrop-filter: blur(16px) contrast(1.2) brightness(1.3);
  color: #fff;
  overflow: hidden;
  background: linear-gradient(180deg, #ffffff32, #ffffff23);
  box-shadow:
    0 0 0 1px #ffffff32,
    0 8px 32px #00000022;
  animation: drop 0.15s;
  transition:
    opacity 0.6s,
    transform 0.3s;

  circle-progress {
    position: absolute;
    right: 4px;
    top: 3.5px;
  }

  close-pin {
    margin-top: 2px;
  }

  &.closing {
    opacity: 0;
    transform: translateY(-96px);
  }

  &:popover-open {
    display: flex;
  }
}

@media screen and (max-width: 600px) {
  output {
    max-width: calc(100% - var(--padding) * 4);

    circle-progress {
      right: 6px;
    }

    close-pin {
      margin-top: 0;
    }
  }
}

@keyframes drop {
  from {
    opacity: 0;
    transform: translateY(-96px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
