.holder {
  --height: 32px;
  --padding: 0.5ch;

  display: inline-flex;
  height: var(--height);
  user-select: none;
  -webkit-user-select: none;
  gap: 1ex;
  border-radius: var(--height);
  background: linear-gradient(180deg, #181818, #242424);
  box-shadow:
    0 -8px 8px #24242488,
    0 2px 0 1px #ffffff11;
  padding: var(--padding);
  position: relative;

  .bubble {
    position: absolute;
    pointer-events: none;
    background: linear-gradient(180deg, #ffffff32, #ffffff1a);
    box-shadow: 0 0 0 1px #ffffff32;
    border-radius: calc(var(--height) - var(--padding) / 2);
    transition:
      left 0.15s,
      right 0.15s,
      height 0.15s,
      top 0.15s;
  }

  ::slotted(button) {
    background: none;
    font-size: 0.8rem;
    color: #9e9e9e;
    padding: 1ch 2ch;
    border: none;
    cursor: pointer;
    font-size: 100;
    border-radius: calc(var(--height) - var(--padding) / 2);
    transition:
      transform 0.15s,
      color 0.15s;
    -webkit-tap-highlight-color: transparent;
  }

  ::slotted(button[selected]) {
    color: #fff;
    transform: scale(1.1);
  }

  ::slotted(button:hover) {
    background: #ffffff08;
  }

  ::slotted(hr) {
    border: none;
    width: 2px;
    transform: scaleY(1.2);
    background: linear-gradient(90deg, #424242, #111111);
  }
}
