.list {
  overflow: auto;
  max-height: 50vh;

  swipe-card {
    margin-bottom: 1ch;
    i-con {
      vertical-align: middle;
      width: 32px;
    }

    [slot=left] {
      color: var(--red-fg, red);
      --color: var(--red-fg, red);
    }
  }

  small {
    display: none;
  }
  [src=''] + small {
    display: block;
    text-align: center;
    font-weight: bold;
    opacity: .15;
    font-size: 1rem;
  }

  h1 {
    font-size: 1.2rem;
    padding: 0;
    margin: 0;

    &.empty {
      color: #616161;
      font-weight: 100;
    }
  }

  p {
    margin: 0;
    padding: 0;
    font-size: .8rem;
    font-weight: 100;
  }
}