:host {
  outline: none;
  user-select: none;
  -webkit-tap-highlight-color: transparent;
  -webkit-user-select: none;
  --btn-size: calc(min(100vw, 512px) / 6);
}

#input {
  display: block;
  width: 100%;
  border: none;
  background: none;
  outline: none;
  font-size: 3rem;
  font-weight: bold;
  text-align: center;
  height: 3ch;

  span {
    color: white;
    margin: 0 0.25ch;
    transition: color 0.3s;

    &.placeholder {
      color: #424242;
      transition: none;
    }
  }
}

#keypad {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 16px;
  /*margin: 2ch auto;*/
  outline: none;
  width: calc(var(--btn-size) * 3 + 32px);

  button {
    background: linear-gradient(180deg, #ffffff11, #ffffff31);
    border: none;
    color: #757575;
    text-shadow:
      0 -0.5px 0px white,
      0 1px 2px #00000064;
    padding: 8px;
    outline: none;
    border-radius: calc(var(--btn-size) / 2);
    height: var(--btn-size);
    width: var(--btn-size);
    font-size: 2rem;
    cursor: pointer;
    transition: background 0.15s;
    box-shadow:
      0 0 0 1px #ffffff32,
      0 2px 8px 0 #00000022;

    &[sym] {
      font-size: 2.5rem;
    }

    &[cmd] {
      font-size: 1rem;
    }

    &:hover {
      background: linear-gradient(180deg, #ffffff21, #ffffff31);
    }

    &[primary] {
      color: #f5f5f5;
      background: linear-gradient(180deg, #f2ead3, #f5f5f5);
      font-weight: bold;
      text-shadow:
        0 1px 2px #7d7253,
        0 0 8px #00000032;
      font-size: 1.6rem;
      box-shadow:
        inset 0 -1px 0 1px #ddd3b7,
        inset 0 1px 0 1px #ffffff;

      &:hover {
        background: linear-gradient(180deg, #f2ead3, #f5f5f5);
      }
    }

    &:empty {
      opacity: 0;
    }
  }
}

#keypad-wrapper {
  display: grid;
  grid-template-columns:
    minmax(0, 1fr)
    auto
    minmax(0, 1fr);
  align-items: center;
  width: 100%;
  margin: 2ch 0;
}

.dots {
  height: 100%;
  opacity: 0.4;
  background: radial-gradient(circle at 1px 1px, rgba(255, 255, 255, 0.15) 2px, transparent 0);
  background-size: 12px 12px;
  background-position: center;

  &[left] {
    margin: 96px 32px 96px 8px;
  }

  &[right] {
    margin: 96px 8px 96px 32px;
  }
}
