:host {
  --link: #48a1d8;

  a {
    color: var(--link);
  }
  img {
    max-width: 100%;
    &[src$="#gh-dark-mode-only"] {
      display: none;
      @media (prefers-color-scheme: dark) {
        display: block;
      }
    }

    &[src$="#gh-light-mode-only"] {
      display: none;
      @media (prefers-color-scheme: light) {
        display: block;
      }
    }
  }
}

div.raw {
  --text: #9e9e9e;
  --heading: #efa73e;
  --bold: #ffffff;
  --italic: #f8ede3;
  --list-marker: #e53157;
  --code: #7a73d1;
  --font-size: 0.9rem;

  font-size: var(--font-size);
  font-weight: 100;
  font-family: monospace;
  color: var(--text);

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    color: var(--heading);
    font-weight: bold;
    font-size: var(--font-size);
  }

  h1 {
    &::before {
      content: "# ";
    }
  }
  h2 {
    color: color-mix(in srgb, var(--heading) 65%, var(--text));
    &::before {
      content: "## ";
    }
  }
  h3 {
    color: color-mix(in srgb, var(--heading) 45%, var(--text));
    &::before {
      content: "### ";
    }
  }
  h4 {
    color: color-mix(in srgb, var(--heading) 35%, var(--text));
    &::before {
      content: "#### ";
    }
  }
  h5 {
    color: color-mix(in srgb, var(--heading) 25%, var(--text));
    &::before {
      content: "##### ";
    }
  }
  h6 {
    color: color-mix(in srgb, var(--heading) 15%, var(--text));
    &::before {
      content: "###### ";
    }
  }

  b,
  strong {
    color: var(--bold);
    &::before {
      content: "**";
    }
    &::after {
      content: "**";
    }
  }

  i,
  em {
    color: var(--italic);
    &::before {
      content: "*";
    }
    &::after {
      content: "*";
    }
  }

  ul {
    padding: 0;
    list-style: none;

    li:before {
      content: "*";
      font-weight: bold;
      color: var(--list-marker);
      margin-right: 1ch;
    }
  }

  code {
    &::before {
      content: "`";
    }
    &::after {
      content: "`";
    }
    color: var(--code);
  }

  pre > code {
    display: block;
    max-width: 100%;
    overflow: auto;
    &:before {
      content: "```";
      display: block;
    }
    &:after {
      content: "```";
      display: block;
    }
  }

  blockquote {
    color: #757575;
    margin: 0;
    border-left: 1ch solid #424242;
    padding-left: 1ch;
  }

  hr {
    border: none;
    &:before {
      color: #757575;
      content: "--------------------------------";
    }
  }
}

a {
  color: var(--link);
}

div:not(.raw) {
  font-weight: 100;
  ul {
    padding: 0 1rem;
  }
  hr {
    border: none;
    border-bottom: 1px solid #424242;
    margin: 2ch;
  }
}
