:host {
  display: block;
  position: relative;
  overflow: hidden;
  border-radius: 7px;
  cursor: pointer;
  user-select: none;
  -webkit-user-select: none;

  --empty-background: linear-gradient(180deg, #08080866, #18181888);
  --empty-color: #eeeeee;
  --filled-background: linear-gradient(180deg, #F2EAD3, #F5F5F5);
  --filled-color: #393E46;
  --percentage: 0%;

  transition: filter .3s, -webkit-filter .3s;
}

:host([danger]) {
  --empty-background: linear-gradient(180deg, #1a1a1a, #1e1e1e);
  --empty-color: var(--red-fg, red);
  --filled-background: linear-gradient(180deg, var(--red-bg, red), var(--red-fg, red));
  --filled-color: #fff;
}

:host([disabled]) {
  cursor: not-allowed;
  filter: invert(1) saturate(0) contrast(0.5);
  -webkit-filter: invert(1) saturate(0) contrast(0.5);
}

div {
  display: grid;
  place-content: center;
  height: 52px;
  font-weight: bold;
  font-size: 0.9rem;
  overflow: hidden;
  border-radius: 7px;

  &.empty {
    background: var(--empty-background);
    color: var(--empty-color);
    transition: color .3s, background .3s;
  }

  &.filled {
    position: absolute;
    top: 0; left: 0; right: 0;
    background: var(--filled-background);
    color: var(--filled-color);
    clip-path: circle(var(--percentage));
    -webkit-clip-path: circle(var(--percentage));

    @media (pointer: coarse) {
      clip-path: polygon(
        0 0,
        var(--percentage) 0,
        var(--percentage) 100%,
        0 100%
      );
      -webkit-clip-path: polygon(
        0 0,
        var(--percentage) 0,
        var(--percentage) 100%,
        0 100%
      );
    }

    transition: clip-path 0.2s ease-in-out, -webkit-clip-path 0.2s ease-in-out;
  }
}

.slide-indicator {
  position: absolute;
  top: 0; left: 0;
  width: 32px;
  height: 52px;
  background-color: white;
  filter: blur(16px);
  -webkit-filter: blur(16px);
  mix-blend-mode: overlay;
  animation: slide 5s ease-in-out infinite;
  display: none;

  @media (pointer: coarse) {
    display: initial;
  }
}

@keyframes slide {
  from {
    transform: translateX(-50vw);
  }
  to {
    transform: translateX(450vw);
  }
}
