dialog {
  animation: grow-in 0.3s;
  width: 512px;
  background: linear-gradient(180deg, #ffffff22, #ffffff11);
  border-radius: 16px;
  padding: 2ch;
  backdrop-filter: blur(32px) contrast(1.2) brightness(1.5);
  -webkit-backdrop-filter: blur(32px) contrast(1.2) brightness(1.5);
  box-shadow: 0 0 0 1px #ffffff32;
  color: white;
  border: none;
  outline: none;
  transition:
    opacity 0.3s,
    transform 0.3s;

  --backdrop-blur: 5px;
  --backdrop-opacity: 1;

  &::backdrop {
    background: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(var(--backdrop-blur));
    -webkit-backdrop-filter: blur(var(--backdrop-blur));
    opacity: var(--backdrop-opacity);
    animation: show-dialog-backdrop 3s;
    transition:
      backdrop-filter 0.2s,
      -webkit-backdrop-filter 0.2s,
      opacity 0.2s;
  }

  header {
    display: flex;
    align-items: center;
    margin-bottom: 3ch;

    h1 {
      margin: 0;
      padding: 0;
      flex-grow: 1;
      font-size: 1.5rem;
      font-weight: bold;
    }
  }

  &.closing {
    opacity: 0;
    transform: scale(0.95);
  }

  &.anchored {
    width: 320px;
    --backdrop-blur: 0;
    animation: slide-from-top 0.3s;

    &.bottom {
      animation: slide-from-bottom 0.3s;
    }
  }
}

@media screen and (min-width: 600px) {
  :host([aside]) dialog {
    margin-right: 0;
    margin-top: 0;
    height: 100vh;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    animation: slide-from-right 0.3s;

    &.closing {
      opacity: 0;
      transform: translateX(5vh);
    }
  }
}

@media (max-width: 600px) {
  dialog {
    width: 100vw;
    animation: come-up 0.2s;
    bottom: 0;
    top: auto;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    transition:
      opacity 1s,
      transform 0.3s;

    &::before {
      content: ' ';
      display: block;
      background: linear-gradient(180deg, #42424266, #9e9e9e66);
      width: 5ch;
      height: 5px;
      border-radius: 3px;
      left: calc(50% - 2.5ch);
      margin-top: -8px;
      z-index: 2;
      position: absolute;
      backdrop-filter: blur(16px);
      -webkit-backdrop-filter: blur(16px);
    }

    header > close-pin {
      position: absolute;
      right: 2ch;
      top: 2ch;
    }

    &.closing {
      transform: translateY(15vh);
      opacity: 0;
    }
  }
}

@keyframes show-dialog-backdrop {
  0% {
    opacity: 0;
    backdrop-filter: blur(0);
    -webkit-backdrop-filter: blur(0);
  }

  10% {
    opacity: var(--backdrop-opacity);
  }

  100% {
    opacity: var(--backdrop-opacity);
    backdrop-filter: blur(var(--backdrop-blur));
    -webkit-backdrop-filter: blur(var(--backdrop-blur));
  }
}

@keyframes come-up {
  from {
    opacity: 0;
    transform: translateY(15vh);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes grow-in {
  from {
    opacity: 0;
    transform: scale(0.95);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}

@keyframes slide-from-right {
  from {
    opacity: 0;
    transform: translateX(5vh);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes slide-from-top {
  from {
    opacity: 0;
    transform: translateY(-5vh);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes slide-from-bottom {
  from {
    opacity: 0;
    transform: translateY(5vh);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
