:host {
  position: fixed;
  display: flex;
  top: 3ch;
  right: 3ch;

  @media screen and (max-width: 600px) {
    top: auto;
    bottom: 3ch;
    left: 0;
    right: 0;
    place-content: center;
  }
}

glass-pane {
  --btn-bg: transparent;
  --btn-border-top: transparent;
  --btn-border-bot: transparent;
  --btn-border-left: transparent;
  --btn-border-right: transparent;

  display: flex;
  align-items: center;
  border-radius: 32px;
  padding: 0 0.5ch;
  gap: 0.5ch;

  secondary-button {
    --width: 48px;
    --height: 48px;

    i-con {
      --color: #f5f5f5;
      width: 24px;
      height: 24px;

      secondary-button:hover & {
        --color: white;
      }

      @media screen and (max-width: 600px) {
        width: 28px;
        height: 28px;
      }
    }
  }

  hr {
    border: none;
    border-right: 1px solid white;
    border-left: 1px solid black;
    opacity: 0.1;
    width: 1px;
    height: 1.5em;
  }
}
