:host {
  position: fixed;
  display: flex;
  top: 3ch;
  right: 3ch;

  @media screen and (max-width: 600px) {
    top: auto;
    bottom: 3ch;
    left: 0;
    right: 0;
    place-content: center;
  }
}

glass-pane {
  --btn-bg: transparent;
  --btn-border-top: transparent;
  --btn-border-bot: transparent;
  --btn-border-left: transparent;
  --btn-border-right: transparent;

  display: flex;
  border-radius: 32px;
  padding: 0 0.5ch;
  gap: 0.5ch;

  secondary-button {
    --width: 48px;
    --height: 48px;

    i-con {
      --color: #f5f5f5;
      width: 24px;
      height: 24px;

      secondary-button:hover & {
        --color: white;
      }

      @media screen and (max-width: 600px) {
        width: 28px;
        height: 28px;
      }
    }
  }
}
