div {
  display: flex;
  align-items: center;
  opacity: .35;
  margin: .5ch 0;
  min-height: 4.5ch;

  :host([primary]) & {
    opacity: 1;
    font-size: 1.5rem;
    font-weight: bold;
  }

  label {
    flex-grow: 1;
  }

  p {
    font-weight: bold;
    display: flex;
    align-items: center;
    text-align: right;
    margin: 0;

    span {
      font-size: 1.2em;
    }

    ::slotted(i-con) {
      width: 4ch;
      margin-right: -1ex;
    }
  }
}

section {
  margin: 1ch;

  ::slotted(key-val) {
    display: block;
    border-bottom: 2px dashed #ffffff22;
  }

  ::slotted(key-val:last-child) {
    border-bottom: none;
  }
}