.holder {
  transition: height .2s ease-in-out;
  will-change: height;
  overflow: hidden;

  ::slotted(section) {
    display: none;
    transition: opacity .2s;
  }

  ::slotted(section[selected]) {
    display: block;
  }
}
