article > img {
  width: calc(100% + 4ch);
  margin-left: -2ch;
  margin-top: -2ch;
  height: 320px;
  object-fit: cover;
  object-position: center top;
  animation: pan 16s infinite alternate;
}

h1 {
  margin-bottom: 0;
}

article {
  max-height: 65vh;
  overflow: scroll;
  overscroll-behavior: none;
  margin-left: -2ch;
  margin-right: -2ch;
  margin-top: -8.5ch;
  margin-bottom: 2ch;
  padding: 2ch;
}

span {
  white-space: pre-line;
}

sub {
  opacity: .5;
}

[role=group] {
  display: flex;
  gap: 1ch;

  > primary-button {
    flex: 1;
  }
}

@keyframes pan {
  from { object-position: center top; }
  to   { object-position: center bottom; }
}
