button {
  @property --btn-bg {
    syntax: '<color>';
    initial-value: linear-gradient(180deg, var(--button-shade-dark), var(--button-shade-light));
    inherits: false;
  }

  display: flex;
  align-items: center;
  place-content: center;
  width: 100%;
  background: var(--btn-bg, linear-gradient(180deg, var(--button-shade-dark), var(--button-shade-light)));
  color: var(--btn-txt, var(--button-text-color));
  border: 1px solid var(--button-border-color);
  border-top-color: var(--btn-border-top, var(--button-border-color));
  border-bottom-color: var(--btn-border-bot, var(--button-border-color));
  border-left-color: var(--btn-border-left, var(--button-border-color));
  border-right-color: var(--btn-border-right, var(--button-border-color));
  border-top-left-radius: var(--btn-top-left-rad, 8px);
  border-top-right-radius: var(--btn-top-right-rad, 8px);
  border-bottom-left-radius: var(--btn-bot-left-rad, 8px);
  border-bottom-right-radius: var(--btn-bot-right-rad, 8px);
  font-size: .9rem;
  font-weight: bold;
  padding: 4px 8px;
  height: var(--width, 52px);
  min-width: var(--height, 52px);
  cursor: pointer;
  transition: filter .15s, background .15s, color .15s;

  -webkit-tap-highlight-color: transparent;

  ::slotted([slot="icon"]) {
    width: 32px;
    height: 32px;
  }

  &:hover {
    @media screen and (min-width: 600px) {
      filter: brightness(1.1);
    }
  }

  &.row {
    place-content: space-between;
  }

  &.danger {
    color: var(--red-fg, red);

    ::slotted([slot="icon"]) {
      --color: var(--red-fg, red);
    }
  }

  &:disabled {
    cursor: not-allowed;
    filter: invert(1) saturate(0) contrast(0.5);
  }
}

:host(primary-button[danger]) {
  --btn-bg: linear-gradient(180deg, var(--red-bg), var(--red-fg));
  --btn-border-top: var(--red-bg);
  --btn-border-bot: var(--red-bg);
  --btn-border-left: var(--red-bg);
  --btn-border-right: var(--red-bg);
  --btn-txt: white;
}

.action-list {
  ::slotted(*) {
    --btn-txt: #fff;
    --btn-bg: transparent;
    --btn-border-top: transparent;
    --btn-border-bot: #42424288;
    --btn-border-left: transparent;
    --btn-border-right: transparent;
    --btn-top-left-rad: 0;
    --btn-top-right-rad: 0;
    --btn-bot-left-rad: 0;
    --btn-bot-right-rad: 0;
  }

  ::slotted([faded]) {
    --btn-txt: #ffffff66;
    --color: #ffffff66;
  }

  ::slotted(:hover) {
    --btn-txt: #ffffff;
    --color: #ffffff;
    --btn-bg: #ffffff08;
  }

  ::slotted(:first-child) {
    --btn-top-left-rad: 8px;
    --btn-top-right-rad: 8px;
  }

  ::slotted(:last-child) {
    --btn-bot-left-rad: 8px;
    --btn-bot-right-rad: 8px;
    --btn-border-bot: transparent;
  }
}

:host(action-list[island]) .action-list {
  background: #11111144;
  display: block;
  border-radius: 8px;
  overflow: hidden;
}

:host(action-list[horizontal]) .action-list {
  display: flex;
  flex-direction: row;
  gap: 1ch;
  ::slotted(*) {
    --btn-border-top: transparent;
    --btn-border-bot: transparent;
    --btn-border-left: transparent;
    --btn-border-right: #42424288;
    --btn-top-left-rad: 0;
    --btn-top-right-rad: 0;
    --btn-bot-left-rad: 0;
    --btn-bot-right-rad: 0;
  }

  ::slotted(:last-child) {
    --btn-border-right: transparent;
  }
}

.btn-group {
  display: flex;
  gap: .5ch;

  ::slotted(primary-button) {
    flex: 1;
  }

  ::slotted(:last-child) {
    flex: 1;
  }
}