i-con#unset {
  opacity: 1;
}

i-con#reacted {
  opacity: 0;
  transform: translateY(6px);
}

:host([reacted]) {
  i-con#reacted {
    opacity: 1;
    transform: translateY(0);
  }

  i-con#unset {
    opacity: 0;
  }
}

@keyframes loading {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 0;
  }
}

:host([loading]) {
  span {
    animation: loading 1.5s infinite;
  }
}

glass-pane {
  display: inline-flex;
  flex-direction: row-reverse;
  align-items: center;
  gap: 0.5ch;
  color: white;
  padding: 4px 6px;
  padding-left: 12px;
  cursor: pointer;
  border-radius: 32px;
  background: linear-gradient(180deg, #00000048, #00000052);

  div {
    position: relative;
    width: 28px;
    height: 28px;
    i-con {
      width: 28px;
      height: 28px;
      position: absolute;
      top: 0;
      left: 0;
      transition:
        opacity 0.3s,
        transform 0.3s;
      transform-origin: center;
    }
  }

  span {
    font-size: 0.9rem;
  }
}

canvas {
  position: fixed;
  pointer-events: none;
  z-index: 100;
  left: 0;
  width: 100%;
  margin-top: -128px;
  height: 256px;
}
